*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./images/bg-pattern-desktop.svg);
    background-size: 100vh;
     font-size: 16px;
}

.image-2{
    display: none;
}

.logo{
    text-align: left;
    padding: 30px;
    width: 20%;
    height: 2vh;
  }

  .image-1{
    padding-top: 25px;
    padding-bottom: 20px;
}

.box {
    text-align: center;
    padding-bottom: 25px;
    padding-top: 15px;
 }

 .box h1{
    color:rgb(192, 147, 155);
    letter-spacing: 12px;
    font-size: 30px;
 }

.box span{
    color: black;
    font-size: 30px;
 }

 .box p{
    text-align: center;
    padding: 10px 20px 10px 20px;
    /* padding-top: 20px; */
    line-height: 25px;
    color:rgb(192, 147, 155);
    /* padding-bottom: 20px; */
    font-size: 15px;
  }

  .footer{
    text-align:left;
    padding: 15px;
    border-radius: 70px;
    height: 45px;
    width: 200px; 
    border:1px solid rgb(204, 183, 187);
}

 .button{
     height:45px;
     width: 67px;
     border-radius: 25px;
     display: inline; 
     /* transform: translate(-90%,-0%); */
     margin-left: -25px;
     
     background-color:  rgb(243, 180, 192);
     border:1px solid rgb(243, 180, 192);
     color: rgb(248, 242, 243);
     font-size:25px;
  } 

   .footer img{
       background-image: linear-gradient( rgb(243, 180, 192));
   }

   @media  (min-width:900px){
      .container{
        width:90%;
        background-image:url(./images/bg-pattern-desktop.svg);
        margin: 0 auto;
      }

      .image-2{
        display:block;
        float: right;
        width:50%;
        height: 100%;
 }   
       .image-1{
          display: none;
      }
      .logo{
        
            margin-top: 40px;
            margin-left: 30px;
            float: left;
            width:30vh;
            margin-bottom: 40px;   
      }

     .box{
            float: left;
            text-align: left;
            margin-left: 50px;
            /* margin-bottom: 70px; */
        }
        .box h1{
            padding-bottom: 15px;
        }
     .box p{
        float: left;
        /* margin-left: 30px; */
        text-align: left;        
     }   

        .footer{
            margin-top: 50px;
        }  
    }

    @media (min-width:1100px)  {
        .container{
            width:80%;
            background-image:url(/images/bg-pattern-desktop.svg);
             margin:0 auto;
        } 

        .image-2{
            display:block;
            float: right;
            width:50%;
            height: 100vh;
     }
         .image-1{
             display: none;
         }
         .logo{
            float:left;
            width:50vh;
            margin-bottom: 40px;
        }
         .box{
            float: left;
            width:50vh;
            text-align: left;
        }
        .footer{
            margin-top: 30px;
                }
    }


    